.nav {
    display: flex;
    flex-direction: column;
    margin: 36px 24px 36px 0;
    text-align: right;
}

.nav .active {
    padding-left: 10px;
    color: orangered;
}

.navLink {
    text-decoration: none;
    font-size: 18px;
    transition: .2s;
    margin-bottom: 1rem;
    font-family: inherit;
    color: #31456a99;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 700;
}

.navLink:hover {
    padding-left: 7px;
    color: orangered;
}

