.nav{
    display: flex;flex-direction: column;
    background-color: #151b45;
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: .2s;
    margin-bottom: 1rem;
}

.navLink:hover {
    padding-left: 7px;
    color: orangered;
}

.show {
    padding-left: 10px;
    color: beige;
}