
.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    padding: 15px;
    margin-top: 12px;
    border-radius: 12px;
    box-shadow: -6px -6px 8px white, 5px 5px 8px #c9c9c9;
}
