
.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    padding: 15px 15px 45px;
    margin-top: 12px;
    border-radius: 12px;
    box-shadow: 1px 0px 4px #5a5a5a38, 0px 2px 5px #5a5a5a80, -4px 2px 6px #ffffff80;
    margin-bottom: 28px;
}
