.backgroundLine {
    max-height: 250px;
    width: 100%;
}

.backgroundLine__img {
    height: 320px;
    width: 100%;
    max-width: 100%;
}

.avaBox__img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.subtitle {
    font-size: 22px;
    font-family: "JohnDoeW00-Regular";
}

.avaBox {
    width: 120px;
}

.userInformation {
    padding: 15px;
    box-shadow: -6px -6px 8px white, 5px 5px 8px #c9c9c9;
}

.description {
    color: #000;
    padding: 30px;
    border: 1px solid #ebecf0;
    box-shadow: inset 0px 0px 4px #ffffff00, inset 3px 3px 5px #3754aa26, inset -3px -3px 5px #ffffff80, 0px 0px 4px #ffffff33 !important;
}